html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0 auto;
}



.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding: 120px 0;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav--logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    display: inline-block;
    margin-right 50px;
}

.header-nav--logo-span {
    color: #2e2f42;
}

.header-nav--list {
    display: flex;
    gap: 40px;
}

.header-nav--list-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: inline-block;
}

.header-nav--link:hover {
    color: #404bbf;
}

.header-nav--link:focus {
    color: #404bbf;
}

.header-contact {
    font-style: normal;
}

.header-contact--list {
    display: flex;
    gap: 40px;
}

.header-contact--link {
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0 24px 0;
    display: inline-block;
}

.address-box {
    font-style: normal;
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
}

.header-contacts--link:hover,
.header-contacts--link:focus {
    color: #404bbf;
}

.solutions {
    background: #2e2f42;
    padding: 188px 0;
}

.solutions-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 0 auto 48px auto;
}

.button-box {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    margin: 0 auto;
    display: block;
    border: none;
}

button:hover {
    background-color: #404bbf;
}

button:focus {
    background: #404bbf;
}

.advantages-title,
.team-title,
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.visually-hidden {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-list--item {
    width: calc((100% - 72px) / 4);
}

.advantages-list--title,
.team-list--title,
.portfolio-list--title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-list--text,
.team-list--text,
.portfolio-list--text {
    letter-spacing: 0.02em;
}

.team {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-list--item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
}

.team-list--img {
    object-fit: cover;
    max-width: 100%;
}

.team-list--descr {
    text-align: center;
    padding: 32px 0;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-list--item {
    width: calc((100% - 48px) / 3);
}

.portfolio-list--descr {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-list--img {
    max-width: 100%;
    object-fit: cover;
}


.footer {
    background-color: #2e2f42;
    padding: 100px 0 100px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo--span {
    color: #f4f4fd;
}

.footer-text {
    width: 264px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: start;
}